name: Build and Push to GHCR

on:
  push:
    branches: [ "main" ]

# Necessary permissions to write to the packages registry
permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Note: GHCR image names must be lowercase
          tags: |
            ghcr.io/${{ github.repository_owner }}/zwift_to_garmin:latest
            ghcr.io/${{ github.repository_owner }}/zwift_to_garmin:${{ github.sha }}
